{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Our Shop{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <!--MAIN MENU--->
    <table>
        <tr>
            <td><a href="{% url 'home:index' %}">Home</a></td>
            <td><a href="{% url 'item:index' %}">Items</a></td>
            <td><a href="{% url 'item:groups' %}">Groups</a></td>
        </tr>
    </table>
    <!--END MAIN MENU--->

    <!--MAIN TITLE--->
    <table width="100%" border="1">
        <tr>
            <td>
                <h1>{% block header %}Our Shop{% endblock %}</h1>
            </td>
            <td></td>
            <td>
                {% if request.user.is_authenticated %}
                    <p>Hello, {{ request.user.username }}</p>
                    <p><a href="{% url 'home:logout' %}">Logout</a></p>
                {% else %}
                <form method="post" action="{% url 'home:login' %}">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>Login</td>
                            <td>
                                <input type="text" name="login"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>
                                <input type="password" name="password" />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><input type="submit" value="Login" /></td>
                        </tr>
                    </table>
                </form>
                {% endif %}
            </td>
        </tr>

    </table>
    <!--END MAIN TITLE--->

    <!--CONTENT--->
    <div id="content">
        {% block content %}
        <ul>
            {% for permission in request.user.user_permissions.all %}
            <li>{{permission.name}}</li>
            {% endfor %}
        </ul>
        {% endblock %}
    </div>
    <!--END CONTENT--->
</body>
</html>
